<div id="flashcardsbody">
<h1>Flash Cards</h1>
<button><%=link_to 'Play', flashcards_play_path%></button>
<button><%=link_to 'View All Flash Cards', flashcards_show_path%></button>
<button><%=link_to 'Create New Flash Card', flashcards_new_path%></button>
<button><%=link_to 'Go Back', root_path%></button>
</div>
