<div id="katasbody">
<h1>Katas</h1>
<button><%=link_to 'Play', katas_play_path%></button>
<button><%=link_to 'View All Katas', katas_show_path%></button>
<button><%=link_to 'Create New Kata', katas_new_path%></button>
<button><%=link_to 'Go Back', root_path%></button>
</div>